.full-wrapper {
  width: 96%;
}

// Center Align
.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Bottom Space 
.section-wrap {
  margin-bottom: 6.0rem;
}

// Display flex
.content-wrap {
  display: flex;
}