//Font Family
$page-font: Georgia, 'Times New Roman', Times, serif;

//Font Size
$font-size-x-small: 1.2rem;
$font-size-small: 1.5rem;
$font-size-regular: 1.8rem;
$font-size-large: 2.4rem;
$font-size-x-large: 3.2rem;
$font-size-xx-large: 4.6rem;
$font-size-xxx-large: 11.6rem;

//Font Weights
$font-weight-light: 200;
$font-weight-regular: 500;
$font-weight-bold: 900; 

//Colors
$white: #FFF;
$black: #000;
$purple: #7e5c88;
$gray: #979797;
$gray-light: #e0e0e0;
$gray-dark: #333333;

$color-background: $white;
$color-tittles: $black;
$color-text: #606060;
$color-text-invert: $black;
$color-text-accent: $white;
$color-border: #A9A9A9;

//Spaces
$space-xxx-small: 1.2rem;
$space-xx-small: 2.2rem;
$space-x-small: 3.2rem;
$space-small: 4.2rem;
$space-regular: 5.2rem;
$space-large: 6.2rem;
$space-x-large: 14.2rem;
$space-xx-large: 16.2rem;
$space-xxx-large: 18.2rem;